h1 {
    text-align: center;
    font-family: 'Lobster';
    font-size: 45px;
}

h2 {
    font-family: 'Lobster';
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'Roboto';
    font-size: 20px;
    text-align:center;
}
.paris {
    width: 300px;
    height: 300px;
    margin-left: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    animation-name: left-slide;
    animation-duration:2s;
    background-color: peachpuff;
}
@keyframes left-slide {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 100px;
    }
    100% {
        margin-left:300px;
    }
}


.london {
    width: 300px;
    height: 300px;
    margin-left: 400px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    animation-name: right-slide;
    animation-duration: 2s;
    background-color: peachpuff;
}
@keyframes right-slide {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 200px;
    }
    100% {
        margin-left:400px;
    }
}
.amsterdam {
    width: 300px;
    height: 300px;
    margin-left: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    animation-name: left-slide;
    animation-duration: 2s;
    background-color: peachpuff;
}
.paris2 {
    width: 300px;
    height: 300px;
    margin-left: 400px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    animation-name: right-slide;
    animation-duration: 2s;
    background-color: peachpuff;
}
.madrid {
    width: 300px;
    height: 300px;
    margin-left: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    animation-name: left-slide;
    animation-duration: 2s;
    background-color: peachpuff;
}
#image1 {
    width: 300px;
    height:300px;
    border-radius: 30px;
    border-style: solid;
    border-color: beige;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    margin-left: 500px;
    margin-top: -150px;
}
#image2 {
    width: 300px;
    height:300px;
    border-radius: 30px;
    border-style: solid;
    border-color: beige;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    margin-left: -400px;
    margin-top: -150px;
}

#image3 {
    width: 300px;
    height:300px;
    border-radius: 30px;
    border-style: solid;
    border-color: beige;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    margin-left: 500px;
    margin-top: -170px;
}

#image4 {
    width: 300px;
    height:300px;
    border-radius: 30px;
    border-style: solid;
    border-color: beige;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    margin-left: -400px;
    margin-top: -150px;
}

#image5 {
    width: 300px;
    height:300px;
    border-radius: 30px;
    border-style: solid;
    border-color: beige;
    border-width: 1px;
    box-shadow:5px 5px 5px 5px grey;
    margin-left: 500px;
    margin-top: -150px;
}

body {
    background-color:rgb(255, 254, 254);
}
